body {
  margin: auto;
  padding: 25px 0 0;
  font-family: "Lucida Console", "Courier New", monospace;
  overflow-x: hidden;
  width: 60%;

  
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #7C9070;
  color: #fff;
  margin: left;
}

.header-content {
  display: flex;
  height: 60px;
}

.header h1 {
  margin: 10px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #7C9070;
  overflow-x: hidden;
  padding-top: 60px;
}

.sidebar.opened {
  width: 250px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  position: fixed;
  top: 0;
  right: 5px;
  font-size: 36px;
  margin-top: 7px;
  margin-left: 15px;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}


#main {
  padding: 20px;
  margin-left: 0;
  transition: margin-left 0.5s;
}

#main.opened {
  margin-left: 250px;
}

.content {
  padding: 20px;
  margin-left: 0;
  transition: margin-left 0.5s;
}

.content.opened {
  margin-left: 250px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}


@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}